.Container1{
background-image: url('https://images.alphacoders.com/108/thumb-1920-1080977.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
 /* background-color:black; */
background-size: cover;
/* background-position: calc(50% - -10px) center; */
margin: 0px;
/* width: 100vw; */
height: 100vh;
/* transform: scale(1); */
/* z-index: -1; */
}
.item {
    height: 100vh; /* Keeps the height 150% of the viewport height */
    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background fixed on scroll */
    background-size: cover; /* Default for larger screens */
    background-position: center; /* Ensures the image is centered */
  }
  .AboutSection{
    background-color: white;
  }
  @media (max-width: 767px) {  /* For smaller screens like mobile */
    .item {
        height: 100vh;
      background-attachment: fixed; /* Disable fixed attachment on mobile */
      background-size:cover; /* Makes the full image visible */
      background-position:  center; /* Keeps the image centered */
    }
    .coomonVcc{
        display: block;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) { /* For tablets */
    .item {
      background-attachment: fixed; /* Fixed attachment for tablets */
      background-size: auto; /* Image covers the entire container */
      background-position:  center;
    }
    .coomonVcc{
        display: none;
    }
  }
  
  @media (min-width: 992px) { /* For larger screens (e.g., desktop) */
    .item {
      background-attachment: fixed; /* Fixed attachment for larger screens */
      background-size: cover; /* Image covers the container */
      background-position:  center;
    }
    .coomonVcc{
        display: none;
    }
  }
  
.ssss{
    transform: scale(1);  
    z-index: -1;
}
.fullscreen-slide {
    height: 150vh; /* Full viewport height */
    width: 100%; /* Full width */
    background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeating */
    display: flex; /* Use flex for overlay content alignment */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    position: relative;
  }

/* .appConatiner{
    display: block;
    unicode-bidi: isolate;
} */
 .ppppppnnm{
 
 }
 .mjiosxp{
    height: 250px;
    width: 250px;
border-radius: 100px;

 }
 .vcvcvc{
    height: 350px;
   justify-items: center;
  align-content: center;
 }
 .ghggbb{
    justify-content: center;
    align-content: center;
 }
 .clusterq{
    height: 400px;
    width: 100%;
    /* margin: 50px; */
    background-color:rgb(217,214,196);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
    border-width: 2px;
    border-radius: 20px;
   
 }

 .mlki{

 }
 .ssccxx{
    font-size: 50px;
 }
 .imageRoiundedf{
    height: 100%;
    width: 100%;
    border-radius: 100%;
 }
.imageStyle{
    height: 80px;
    width: 80px;
    border-radius: 40px;
}
.ListStyle{
    /* background-color: #dc3545; */
    /* justify-content:space-between; */
}

.Overlay{
    position: absolute;
    inset: 0px;
    /* background:  radial-gradient(rgba(150, 8, 8, 0.20) 0%, rgba(0, 0, 0, 0.6) 100%); */
    background-color: rgb(0,0,0,0.5);
   
}
.AboutContainer{
  
}
.textAboutContent{
    text-align: start;
}
.contColor{
    background-color:  rgb(20,20,20)
}
.ggg{
    margin: 0;
    /* background-color: #333846;/ */
}
.Overlay1{
  position: absolute;
  align-content:flex-end;
margin: 0;
padding: 0;
    inset: 0px;
    /* background:  radial-gradient(rgba(150, 8, 8, 0.20) 0%, rgba(0, 0, 0, 0.6) 100%);    */
}

.fontSize{
    font-size: 20px;
}
.paragraphFont{
font-size: 14px;
}
.Section2{
    height: 150vh;
}
h1.fontWefff{
    font-weight:bold !important;
    color:black !important;
    font-size: 50px;
}
h2.fonbbbb{
    font-weight:bold !important;
    color:black !important;
    /* font-size: 50px; */
}
.klkiiiii{

    background-color:#333846;
}
.klkjnnn{
    display: flex;
    flex-direction:column;
}
.imageConatinerAbout{
    /* background-image: url('https://c4.wallpaperflare.com/wallpaper/206/268/839/pose-muscle-muscle-rod-press-hd-wallpaper-preview.jpg'); */
background-repeat: no-repeat;
background-attachment: fixed;
 /* background-color:black; */
background-size:contain;
height:600px;
width: 70%;

/* background-position: calc(50% - -10px) center; */
margin: 0px;
}
.smallButton{
 font-size: 12px;
 font-family: 'Rubik';
}
.ppllkk{
display: flex;
}
.featuredd{
    position: absolute;
    top: -15px;
    right: 0;
    width: 70px;
    height: 70px;
    display: flex
;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #fff;
    background: #e31c25;
}
.lklkllk{
    font-family: 'Rubik';
    justify-self: flex-start;
    text-align: start;
}
.nnbbb{
    /* flex:1; */
   
    /* flex-direction: row; */
}
.chooseTitle{
   font-weight: 600; 
}
.dcdcdcdcd{
    height:40%;
    position: relative;
    /* background-color: #dc3545; */
    display:flex ;
    /* width: 0; */
    margin: 0;
    padding: 0;
}
.gfffcc{
   
    /* background-color: black; */
    width: 35px;
    height: 35px;
    filter: brightness(0) invert(1);
    
}
.tytytyt{
    width: 70px;
    height: 70px;
    position: absolute;
    align-content: center;
    z-index: 999;
background-color: rgb(17,17,17);
    left:35%;
    right: 20px;
   top: -10px;
   
}
.bvbvbv{
    height: auto;
    width: 50%;
}
.pkfggg{
background-repeat: no-repeat;
background-attachment: fixed;
 /* background-color:black; */
background-size:cover;
/* background-position: calc(50% - -10px) center; */
margin: 0px;
height: 350px;
/* width: 100%; */
/* width: 100vw; */
/* height: 100vh; */
}
.defaultFontFamily{
    font-family: 'Rubik';
}
.marginLeft{
    margin-left: 10px;
}
.coomonVcc{
    background-color: #FFFFFF;
  /* bottom: 40px; */
}
.fontFamily{
    font-family: 'Rubik';
    font-size: 70px;
    font-weight: bold;
    color: white ;
   
}
.paragraphtextSize{
    line-height: 40px;
    padding-top: 10px;
}
@media (max-width: 767px) { 
    .fontFamily{
        font-family: 'Rubik';
        font-size: 40px;
        font-weight: bold;
        color: white;
    }
    .paragraphtextSize{
        line-height:15px;
        font-size: 12px;
    }
    .HomeContent1{
        width: 400px;
        height: 100vh;
        /* background-color:#dc3545  !important; */
    }
    .owl-theme .owl-nav{
        top:50%
            }
            .conyerfff{
              padding-top: 60px;
                height: 100vh;
                /* background-color: aqua; */
            }
}


@media (min-width: 768px) and (max-width: 991px) { /* For tablets */
    .item {
        font-family: 'Rubik';
        font-size: 42px;
        font-weight: bold;
        color: white;
    }
    .paragraphtextSize{
        line-height: 15px;
    }
  
  }
@media (min-width: 992px) { /* For larger screens (e.g., desktop) */
    .fontFamily {
        font-family: 'Rubik';
        font-size: 72px;
        font-weight: bold;
        color: white;
    }
    .paragraphtextSize{
        line-height: 25px;
    }
  }
.fontColro{
    color:white
}
.shutter-slider {
    width: 100%;
    height: 100vh;
  }
  
  .shutter-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .slide-content h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.ListTag {
    font-size: 16px;
    text-decoration: none; /* Remove default underline */
  font-family: 'Rubik';
    padding-bottom: 10px;
    color: lightgray; /* Default color */
    /* Adds space between text and underline */
    transition: color 0.5s ease, border-bottom-color 0.5s ease;
    font-weight:400;
}
.ListTag:hover{
    color:white
}
.carousel-nav-arrow {
    font-size: 2rem;
    color: #fff;
    /* background:; */
    padding: 10px 15px;
    padding-bottom: -20px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .carousel-nav-arrow:hover {
    /* background: ; */
    color: #000;
  }
  
  /* Position arrows */
  .owl-theme .owl-nav {
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
padding-left: 10px;
padding-right: 10px;
    /* background-color: #333846; */
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .owl-theme .owl-nav [class*="owl-"] {
    position: relative;
    background: none;
    padding: 0;
  }
.button-color{
    background-color: #FFFFFF;
}
.secondaryContent{
    background-color: #111111;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content:space-around;
}
.button-text{
    color:#FFFFFF
}


.text-gap {
    letter-spacing: 1.5px; /* Adjust the value as needed */
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    20% {
      transform: translateX(0);
      opacity: 1; /* Fully visible */
    }
    80% {
      transform: translateX(0);
      opacity: 1; /* Stay visible */
    }
    100% {
      transform: translateX(-100%);
      opacity: 0; /* Fully hidden */
    }
  }
  
  .animated-title {
    
    animation: slideInFromLeft 8s ease-out infinite 0.5s; /* 4s appear + 4s wait + 2s hide */
  }
  
  .animated-text {
   
    animation: slideInFromLeft 8s ease-out infinite 0.5s; /* Starts slightly later for staggered effect */
  }
  
  
  
  .secondaryButton{
    height: 100px;
 align-content: center;
  }




.HomeContent{
height: 100px;
}

.containerdd{
    height: 100vh;
    align-content: flex-end;

   
}
.textContentcolor{
    color:#dc3545;

    
}
.owl-theme1 .item {
    background: #4caf50;
    height: 150px;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    margin: 10px;
  }
.owl-theme1 .owl-nav {
    display: flex;
    margin:0;
    padding: 0;
    justify-content: space-between;
  }
  
  .owl-theme1 .owl-nav [class*="owl-"] {
    color: #fff;
    font-size: 20px;
    background: #869791;
    padding: 4px 7px;
    margin: 5px;
    border-radius: 3px;
  }
  
  .owl-theme1 .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .owl-theme1 .owl-dots .owl-dot.active {
    background: #4caf50;
  }
  
.textColor{
    color:white
}
.textFontParagraph{
    font-size: 0.9rem;
}
.chooseToggle{
    background-color: #dc3545;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
}
.kjhkhk{
    font-size: 60px;
    font-weight: 700;
    /* line-height: 1.2; */

}
.contentParagraph{
color:rgb(232,232,232)
}
.lllll{
    font-size: calc(1.275rem + .1w);
    font-weight: 600 !important;
}
.aboutUsContainer{
    height: 250px;
    /* width: 70%; */
    margin-right: 20px;
    margin-left: 20px;
   background:  rgba(255, 255, 255, 0.03);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    border: 1px solid #333846;
    transition: all 0.4s ease;
   margin-left: 5px;
}
.marginBottom{
    margin-top: 20px;
}

.TextLineHeight{
    line-height: 25px;
}
.HomeContent1{
    height: 100vh;
    position: relative;
    margin-left: 60px;
    overflow: hidden;
    /* background-color:#dc3545; */
 align-content: center;
 /* justify-items: center; */
    text-align: start;
}
.conyerfff{
    padding-left: 20px;
margin-top: 20%;
    /* background-color: aqua; */
}

.NavBarStyle {
 background-color: #000;
}
.paragrafdd{
    font-size: 14px;
}
.Container5{
    display: flex;
    /* background-color: #dc3545; */
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    z-index: 4;
   
}
.homeScreenParagraph{
    transform: translateX(-100%);
animation: slideIn 1.5s ease-in-out forwards;
}
.mainText{
font-size: 3rem;
transform: translateX(-100%);
animation: slideIn 1.5s ease-in-out forwards;
/* line-height: 0.5px; */
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
/* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
/* font-family:  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
}
.StyleButton{
    transform: translateX(-100%);
animation: slideIn 1.5s ease-in-out forwards;
}
.mainText1{
    font-size: 9rem;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1.5s ease-in-out forwards;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
.Container5{
    text-align: center;
 /* background-color: rgb(0,0,0,0.2); */
    line-height: 3.8rem;
            /* radial-gradient(ellipse at bottom, #4d9f0c, transparent); */
}
.css-y41f37 {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 0px 0px;
    font-size: 1.3rem;
}
.css-y41f37 .container button {
    margin: 40px 0px 0px;
    background-color: aquamarine;
}
.fontStyleButton{
    font-size: 12px;
}
.fontStyleButton:hover {
background-color:rgb(0,0,0,0.2);
border-color: rgb(0,0,0,0.5);
color:white;
box-shadow: 0px 2px 4px rgba(211, 211, 211, 1);;
}
.Container6{
    /* background: radial-gradient(ellipse at top, #dc3545 0.5%, transparent) */
}
.containerImageStyle1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensures the container has some height */
    transition: 0.8s;
   background:  url('https://wallpapercave.com/wp/wp4699058.jpg')   center top/ cover no-repeat;
}
.containerImageStyle1child{
    /* min-height: 20vh; */
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content:center ;
    /* background-color: antiquewhite; */
    align-items:center;
}

.containerImageStyle1:hover {
    transform: scale(1.3); /* Slightly zooms in the image */
}
.containerImageStyle2{
    display: flex;
   align-items: center;
   justify-content: center;
    height: 100vh; /* Ensures the container has some height */
    transition: 0.8s;
    background: url('https://wallpapercave.com/wp/wp2483079.jpg') center top  / cover no-repeat;
}

.containerImageStyle2:hover {
    transform: scale(1.3); /* Slightly zooms in the image */
}
.paragraph{
    color: rgb(255, 255, 255);
    line-height: 1.4;
    padding: 12px 0px;
}
.contentContainer{
    /* height: 100vh; */
    background-color: black;
}
.featursStyle{
padding-bottom: 50px;
    display: flex;

    flex-direction: column;
    /* background-color: aliceblue; */
    justify-content: center;
    text-align: center;
    justify-self: center;
    /* background-color: red; */
}
.navBarContainer{
    padding-top: 20px;

}
.paragraphText{
    display: block;
    font-size: 15px;
font-weight:600;
     color: #000;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.text-white{
    color:black !important
}
.navTextStyle{
    font-size: 20px;
    font-family: 'Rubik';
    font-weight: 600;
    
}
.chooseContainer{
    display:flex;
    flex-direction: row;
}
.small-container-parent-text{
    font-size: 12px;
    color: black;
    text-align: start;
}
.small-container-title{
    color: black;
    text-align: start;
}
.small-container-image {
    width: 25px; /* Ensures the image fills the parent div */
    height: 25px; /* Maintains aspect ratio */
    object-fit: cover; /* Crops the image to fit perfectly */
    filter: invert(1);
  }
  
.small-container-imagecontainer{
    display: flex;
    flex-direction: row;
}
.hjjjjj{
    height: 100vh;
}
.small-container{
    padding: 20px;
    margin: 10px;
    /* background-color: #333846; */
}
.small-container-image-radius {
    width: 50px;
    margin-right: 10px;
    height: 40px;
    border-radius: 50%; /* Ensures the div is circular */
    background-color: #111111; /* Background color */
    display: flex; /* Centers content inside the div */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    overflow: hidden; /* Ensures the image stays within the circle */
  }
  .choose-image2{
    /* background-color: aqua; */
    width: 200px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
  }
  .chooseParntImage{
    display: flex;
    flex-direction: row;
  }
  .choose-image1{
    border-radius: 10px;
    margin: 5px;
    height: 150px;
    width: 250px;
  }
  .choose-image1-parent{
    /* padding: 10px; */
/* background-color: #ce271d; */
    display: flex;
    flex-direction: column;
  }
.featureSection{
    /* padding-bottom: 50px; */
    height: 150vh;
    background-color: white;
}
.hhhhhvcmm{
    padding-bottom: 100px;
    /* background-color: #ce271d; */
    /* padding-bottom: 300px; */
}
.madfg{
  margin-top: 20px;
}
.section4{
    /* height: 100vh; */
    margin-top: 80px;
}
.image-container {
    width: 30%;
    height: 200px;
    overflow: hidden;
    transition: all 1.5s ease-in-out;
  }
  .kopm{
    background-color: black;
  }
  
  .image-container.portrait img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  
  .image-container.landscape img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .image {
    transition: transform 1.5s ease-in-out;
  }
  .section-images{
    /* display: flex; */
    flex-direction: row;
  }
.featurefonts{
    color: rgb(255, 255, 255);
    padding: 20px 0px 10px;
    font-size: 1.5rem;
}
.gbg{
/* background-color: #dc3545; */

}
.featureParagraphfont{
    color: rgb(170, 177, 183);
    font-size: 1.1rem;
}
.featureWrapper{
    /* width: 100%; */
    /* max-width: 220px; */
    text-align: center;
    padding: 1.8rem;
    transition: 0.8s;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}
.featureWrapper:hover{
     border-color: #dc3545;
     border-width: 3px;
     border-style: solid;
}
.nhnnn{
    background-color:white;
  
}
.opinionsection{
    padding: 0;
    margin: 0;
}
.klklkl{
    margin: 0;
    padding: 0;
    /* background-color: #ce271d; */
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.poilll{
    justify-self: flex-start;
}
.aboutImage{
    height: 400px;
    background-repeat: no-repeat;
background-attachment: fixed;
 /* background-color:black; */
background-size: cover;
}
.kklklklbbb{
    background-color:white;
}
.bvbvb{
    height: 10%;
    display: flex;
align-content: center;
align-items: center;
    /* background-color: antiquewhite; */
}
.textsixzelinesepatt{
    font-size: 10px;
    margin-top: 12px;
    margin-left: 5px;
    font-family: 'Rubik';
    font-weight: 600;
    
}
.cdfa{
    text-align: start;
  line-height: 30px;
  padding-top: 10px;
}
.clentSayscont{
    /* background-color: #4caf50; */
    
}
.gdff{
    height: 300px;
    width: 80%;
    background-color: #ce271d;
}
.tecfalign{
    text-align: start;
    font-size: 60px;
    font-weight:bold;
    font-family: 'Rubik';
  padding-top: 20px;
  margin-left: 10px;
}
.bvcff{
    background-color:#E8E8E8;
}
.clientSaysImage{
    height: 100%;
    width:70%;
   align-self: flex-end;
}
.hhxcc{
 display: flex;
 justify-content: flex-end;
}
.cdf{
    justify-self: flex-start;
}
.piom{
    font-size: 16px;
    font-weight: 600;
}
.sectionAboutText{
    font-size: 80px;
    font-family: 'Rubik';
    font-weight: bold;
    justify-self: flex-start;
 }
.bgb{
    font-family: 'Rubik';
    font-weight: 600;
}
.lineSeparator3{
    height:3px ;
    width: 60px;
    background-color:red;
    margin-right: 10px;
  
}
.btn-lightcc {
    background-color: transparent; /* Transparent background initially */
    color: black; /* Black text */
    border: 4px solid black; /* Black border */
    border-radius: 50px; /* Rounded button */
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.btn-lightcc:hover {
    background-color: black; /* Black background on hover */
    color: white; /* White text on hover */
    border: 2px solid black; /* Keep border black */
}

.textalign{
    text-align: start;
    font-family: 'Rubik';
}
.textalignWeight{
    font-weight:bold;
}
.nbnmm{
    display: flex;
    justify-self: flex-start;
   align-items: center;
}
.hhhhhhhbb{
    text-align: start;
}
.jhjhj{
    display: flex;
    flex-direction: row;
}
.sideContetabout{
align-content: flex-start;
}
.hughghg{
    height: 300px;
}

.opp{
    padding-top: 50px;

}
.containerFeatureicon{
   align-content: center;
}
.featurePadding{
    padding-top: 50px;
}
.offerSection{
    background-image: url('https://www.teahub.io/photos/full/65-659391_desktop-images-of-fantastic-fitness.jpg');
background-repeat: no-repeat;
/* background-attachment: fixed; */
background-color:black;
background-size:cover;
/* width: 100vw; */
align-content: center;
flex:1;
height: 100vh;
}
.offerSectionText1{
    color: rgb(255, 20, 20);
    font-size: 6rem;
}
.offerSectionText{
    color: rgb(255, 255, 255);
    font-size: 2.6rem;
}

.bootomBarContainer{
    border-bottom: 1px solid rgb(49, 49, 49);
}

.textColor{
    color:white
}

.websitePrimaryColor{
    color:  red
}

.secondaryText{
    color:rgb(122, 131, 139);
}
.fontWeight{
    font-weight:700;
    line-height: 1.2;
}
.animatedText {
    position: relative;
    animation: slideIn 2s ease-out forwards;
    overflow: hidden;
    white-space: nowrap;
  }
@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
.textSixe{
    font-size: calc(1.575rem + 3.9vw);

}

.offerContainer{
 
    position: absolute;
    inset: 0px;
    background: radial-gradient(rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.trainerSection {
    background-image: 
        radial-gradient(rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%), 
        url('https://gymbulldozer.netlify.app/static/media/HeroImage.2cc645e7.png');
    background-repeat: no-repeat;
    background-size:cover;
     align-content: center;
    /* display:flex; */
    height: 150vh;
}


.Social{
    width: 100%;
  height: 90%;
}
.Social:hover{
  height: 100%;

    background-color: rgb(0,0,0,0.5);
    transition: 300ms ease-in-out;

}

.trainerImage2{
    background-image: url('https://gymbulldozer.netlify.app/static/media/trainer.2649ade7.png');
    background-repeat: no-repeat;
 /* background-color:black; */
background-size:cover;
/* width: 100vw; */
height: 400px;
/* width:400px; */

}
.trainerImage3{
    background-image: url('https://gymbulldozer.netlify.app/static/media/trainer2.0f869951.png');
    background-repeat: no-repeat;
     /* background-color:black; */
    background-size:cover;
    /* width: 100vw; */
    height: 400px;
    /* width:400px; */

}
.customSection{
    display: flex;
flex-direction: column;
}

.trainerImage:hover{
   

}
.imageHeightT{
    width: 100%;
    height: 360px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: 300ms ease-in-out;
}
.imageHeightT:hover{
    background-color:rgb(0,0,0,0.5);
    transition: 300ms ease-in-out;
    overflow: hidden;
}





.trainerTextCol{
   color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 0px 0px;
    font-size: 2rem;
}
.TrainingSesion{
    height: 150vh;

}
.imageBackground1{
    padding: 0;
    background-image: url('https://rare-gallery.com/uploads/posts/860715-Men-Fitness-Dumbbells.jpg');
    background-repeat: no-repeat;
     /* background-color:black; */
    background-size:cover;
overflow-x: hidden;
    /* width: 100vw; */
    height: 75vh;
    /* width:400px; */
}
.imageBackground2{
    padding: 0;
    background-image: url('https://img.rasset.ie/000fae50-500.jpg');
    background-repeat: no-repeat;
     /* background-color:black; */
    background-size:cover;
    /* width: 100vw; */
    height: 75vh;
    /* width:400px; */
}

.imageBackground3{
    padding: 0;
    background-image: url('https://img.freepik.com/premium-photo/handsome-model-young-man-workout-gym_174475-1503.jpg');
    background-repeat: no-repeat;
     /* background-color:black; */
    background-size:cover;
    /* width: 100vw; */
    height: 75vh;
    /* width:400px; */
}

.imageBackground4{
    padding: 0;
    background-image: url('https://media.istockphoto.com/id/1132086660/photo/side-view-of-beautiful-muscular-woman-running-on-treadmill.jpg?s=612x612&w=0&k=20&c=5Vq_BJjG7sbIyKIP-Adu0pChReDXm0dC7BVPvto2M0I=');
    background-repeat: no-repeat;
     /* background-color:black; */
    background-size:cover;
    /* width: 100vw; */
    height: 75vh;
    /* width:400px; */
}

.TrainingsectionSubText{
    font-size: 16px !important;
    color: #FFFFFF !important;
    text-align: center !important;
    z-index: 0 !important;
    padding-bottom: 20px;
}
.TrainerSectionTextView{
  width: 400px;
/* background-color: #dc3545; */
}
.TrainerSectionImagePositionView{
    /* background-color:#FFFFFF; */
    height: 75vh;
    width: 100%;
    justify-items: center;
    align-content: center;
    background-color: rgb(0,0,0,0.5);
}
/* .TrainerSectionImagePositionView:hover{
    background-color: rgb(0,0,0,0.8);
    transition: 300ms ease-in-out;
    overflow: hidden;
} */


.WelcomeSection{
    /* height: 100vh; */
   background:  radial-gradient(rgba(150, 8, 8, 0.20) 0%, rgba(0, 0, 0, 0.6) 100%);
    background-color: rgb(20,20,20);
}
.WelcomeSectionImage{
    height: 300px;
}
.lppppppppp{
    height: 200px;
}
.uhu{
    height: 100px;
}
.WelcomeSectionText{
   color: white;
   line-height: 25px;
   -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    margin-bottom: 10px;
    
}
.contentHeight{
    height: 500px;
}
.WelcomeSectionText1{
    color: #dc3545;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
 }
 .welcomeSectionTextParent{
   width: 500px;

 }
 .welcomeSectionParent1{
   justify-content: center;
   align-items: center;

   display: flex;
    /* background-color: aquamarine; */
    height: 100vh;
 }
 .imageWelocome{
    background-image: url('https://i.pinimg.com/originals/62/d5/63/62d563f804c8d0656b3825b8a6668e9f.jpg');
    background-repeat: no-repeat;
     /* background-color:black; */
    background-size:contain;
    /* width: 100vw; */
    height: 76vh;
    overflow: hidden;
    background-color: antiquewhite;
    width: 460px;
    /* width:auto; */
    border-top-left-radius: 50px;
    /* border-bottom-left-radius:20px; */
    border-bottom-right-radius: 50px;
 }
.mkl{
   display:flex;
   justify-content: center;
   align-items: center;
}
.ContactSection{
    background-image: url('https://wallpapers-hub.art/wallpaper-images/720304.jpg');
    background-repeat: no-repeat;
     /* background-color:black; */
    background-size:cover;
    height: 100vh;
}
.ContactSection1{
    height: 100vh;
    justify-content: center;
   /* background-color: #dc3545; */
   /* justify-self: center; */
    background:  radial-gradient(rgba(150, 8, 8, 0.20) 0%, rgba(0, 0, 0, 0.6) 100%);
    /* background-color: rgb(20,20,20); */
}
.InputConatiner{
    height: 40px;
    background-color: white;

    width: 350px;
    margin-bottom: 10px;
}
.InputConatiner1{
    background-color: white;
    height: 150px;
    width: 350px;
    margin-bottom: 20px;
}
.InputViewr{
    height: 40px;
    width: 350px;  
}
.InputViewr1{
    height: 150px;
    width: 350px;  
}
.inputContainer{
    height: 75vh;
    width: 600px;
    /* background-color: aqua; */
   justify-items: center;
}
.buttonWidth{
    width:450px ;
}
.ConatctBranch{
    background-color:rgb(9,1,1);
}
.TextEnq{
    color:white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    /* font-size: ; */
}
.Conatactus1{

}
.ConatctImg{
    height: 80px;
    width: 80px;
    border-radius: 10px;
}
.Contactheight{
    height: 50vh;
}
.contactPng1{
    height:20px ;
    width: 20px;
}
.contactSub1{
  height: 300px;
  width: 200px;
  /* background-color: aquamarine; */
}

.ConatactSubHead{
    padding: 4px;
  text-align: start;
    margin-top: 5px;
    border-left: none;
    border-right: none;
    transform: scaleY(0.9); 
}
.BulletList{
    padding: 0px;
}
.UnderList1{
    text-align: start;
}
.UnderList2{
    text-align: start;
    padding-left: 10px;
}
.BulletList1{
    list-style: none;
    text-align: start;
  

}
.contactTextStyle{
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: #ce271d !important;
}
.ImageCont{
    background-image: url('https://pbs.twimg.com/profile_images/970153676974178304/DQSkK-bV_400x400.jpg');
    background-repeat: no-repeat;
     /* background-color:black; */
    background-size:contain;
    /* width: 100vw; */
    height: 250px;
    overflow: hidden;
}
.side-drawer {
    height: 90vh;
    width: 300px;
    position: fixed;
    top: 0;
    right: 0px;  /* Initially position off-screen on the right */
    left:-300px;
    /* background: rgb(15,6,6); */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 200;
    transition: left 0.3s ease-out;
    padding: 20px;
  }
  
  .side-drawer.open {
    left: 0;  /* When open, move it to the right side */
  }
  
  .nav-item {
    margin: 10px 0;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  